#app {
    font-family: "Arial", verdana, sans-serif;
    font-size: 16px;
    color: #333333;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #10436f;
    min-width: 650px;
    min-height: 400px;
    overflow: hidden;
    background-image: url("../textures/misc/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.game-menu {
    position: absolute;
    bottom: 0;
    height: 47px;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 2;
    background-color: #2e2e2c;
    border-top: 2px solid #53524f;
    border-bottom: 1px solid #53524f;
    padding-left: 20px;
}

.game-menu > button {
    height: 30px;
    width: 44px;
    margin: 8px 10px;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.game-chatInput {
    position: absolute;
    left: 33%;
    bottom: 10px;
}

.game-chatInput input {
    text-align: left;
    width: 500px;
    height: 25px;
    background-color: #ffffff;
    font-family: "Arial", verdana, sans-serif;
    font-size: 16px;
    color: #000000;
    border-radius: 5px;
}

.game-window {
    position: absolute;
    left: 40%;
    right: 40%;
    top: 30%;
    bottom: 30%;
    z-index: 4;
    padding: 0;
    margin: 0;
    background-color: #bbbbbb;
}

.game-window li {
    margin-top: 20px;
    word-wrap: break-word;
}

.game-window > ul button {
    margin-left: 10px;
}

.game-closeButton {
    position: absolute;
    right: 0;
}

.game-chat {
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 0;
    background: rgba(46,46,44,0.85);/*#bbbbbb;*/
    z-index: 2;
    width: 447px; /*Resizable in js*/
}

.game-chatResize {
    position: absolute;
    width: 10px;
    height: 100%;
    left: 442px; /*Resizable in js*/
    z-index: 2;
    cursor: ew-resize;
}

.game-hideChatButton {
    position: absolute;
    left: 447px; /*Resizable in js*/
    top: 4px;
    font-size: 11px;
    z-index: 3;
    height: 63px;
    width: 15px;
    background-color: #3a3832;
    border: 0;
    padding: 0;
    color: #9c9791;
    user-select: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-weight: bold;
    opacity: 0.8;
}

.game-chatMessagesContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.game-chatMessageC {
    position: relative;
    width: 100%;
}

.game-chatMessage {
    position: relative;
    left: 2.5%;
    max-width: calc(95% - 18px);
    word-wrap: break-word;
    border-radius: 6px;
    background: rgba(255,255,255,1);
    margin: 0;
    font-size: 15px;
    padding: 2px 8px;
    border: 1px solid #000000;
    display: inline-block;
    color: #000000;
}

.game-chatInfoMessage {
    background-color: transparent;
    border: 0;
    text-align: center;
    color: #dbdbdb;
    display: block;
}

.game-boldText {
    font-weight: bold;
    margin-right: 5px;
}

.game-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.game-login {
    position: relative;
    background-color: #0b6395;
    color: #ffffec;
    border: 3px solid #2685bc;
    border-radius: 10px;   
    top: 30%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    padding: 5px;
}

.game-login input {
    position: relative;
    text-align: center;
    left: 50%;
    width: 190px;
    margin-top: 30px;
    margin-left: -110px;
    height: 19px;
    padding: 5px 12px;
    border-radius: 5px;
    border: 3px solid #275d8e;
    font-size: 16px;
    color: #444;
    font-weight: bold;
}

.game-login button {
    position: relative;
    background-color: rgb(0, 129, 62);
    border: 2px solid #8eda55;
    color: #ffffec;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 47px;
    padding: 5px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    left: 50%;
    width: 230px;
    margin-left: -115px;
}

.game-login button:hover {
    background-color: #00ab54;
}

a:link {
    color: #1884ff;
}

a:visited {
    color: #1884ff;
}