@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Arial", verdana, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

#app {
  font-size: 16px;
  color: #333333;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2e2e2c;
  min-width: 650px;
  min-height: 400px;
  overflow: hidden;
  background-image: url("/assets/misc/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.game-infoSpan {
  position: absolute;
  right: 0;
  color: #ffffff;
  z-index: 2;
}

.game-playerInfo {
  position: absolute;
  right: 12px;
  bottom: 60px;
  z-index: 1;
  background-color: rgb(61,61,61);
  border-radius: 7px; 
}

.game-playerInfo > p {
  margin: 0;
  padding: 10px 15px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.game-playerInfo > div {
  background: rgb(101,101,101);
  border: 1px solid rgb(24,24,24);
  border-radius: 5px;
  display: inline-block;
  margin: 0px 10px 12px 10px;
  padding: 5px 5px 15px 8px;
}

.game-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
